# this file represents the .env file layout for local development by other developers

DB_KEY = #password will go here
DB_HOST = #localhost or wherever you choose to host this
DB_NAME = #name of your database
DB_USER = # your username for the DB you choose to use