# this file represents the .env file layout for local development by other developers

DB_KEY = 
DB_HOST = 
DB_NAME = 
DB_USER = 
SESSION_SECRET = 
DB_URL = 
DB_MIG_URL = 
REDIS_URL = 

TEST_USERNAME = 
TEST_PASSWORD = 