        body {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
            /* fallback for older browsers */
            background: #000000;
            /* Chrome 10-25, Safari 5.1-6 */
            background: -webkit-linear-gradient(to right, #434343, #000000);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            background: linear-gradient(to right, #434343, #000000);
            color: #fff; /* light text for dark background */
        }

        header {
            background-color: rgba(255, 255, 255, 0.05);
            color: #FF4500;
            text-align: center;
            padding: 1em 0;
            border-bottom: 2px solid #FF4500; 
            box-shadow: 0 0 5px #FF4500, 0 0 10px #FF4500;
        }

        .welcome {
            color: #FF4500;

            text-align: center;
            margin-top: 20px;
            margin-bottom: 30px;
            font-size: 2.5em;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }

        #welcomePageBackground {
            /* If you want a background image, you can add it here */
            /* background-image: url('your-image.jpg'); */
            background-size: cover;
            background-position: center;
        }

        h2 {
            color: #f0f0f0;
            text-align: center;
            margin-bottom: 20px;
        }

        .container {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
        }

        .alterTeam {
            padding: 12px 24px;
            background: transparent;
            color: #FF4500;
            border: 2px solid #FF4500;
            border-radius: 5px;
            font-weight: bold;
            font-size: 16px;
            cursor: pointer;
            box-shadow: 0 0 5px #FF4500, 0 0 10px #FF4500;
            transition: all 0.3s ease;
            margin-bottom: 10px;
            width: fit-content;
            
        }

        .alterTeam:hover {
            color: #000;
            box-shadow: 0 0 10px #FF4500, 0 0 20px #FF4500, 0 0 40px #FF4500;
            background-color: #FF4500;
        }

        .alterTeam a {
            color: inherit;
            text-decoration: none;
        }

        #userInfo {
            width: 80%;
           
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #333;
            
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
            text-align: center;
            box-shadow: 0 0 10px #FF4500, 0 0 20px #FF4500, 0 0 40px #FF4500;
            
        }

        .userStats {
            color: #ddd;
            
            padding: 10px;
            margin: 5px 0;
            border-bottom: 1px solid #555;
            
        }

        .userStats:last-child {
            border-bottom: none;
            
        }

        