


.welcomeMessage{
    background-color: red;
    color: white;
    font-size: 40px;
}

.description{
    font-size: 20px;
    text-align: center;
    color: white;
}

.newUserButton{
    
    margin: auto;
    border-radius: 12px;
    padding: 20px;
    display: block;
    text-align: center;
    font-size:20;
    background-color: white;
    opacity: .9;

}

.returningUser{
    text-align: center;
    margin: auto;
    border-radius: 12px;
    padding:  20px;
    display: block;
    text-align: center;
    font-size: 20;
    background-color: white;
    opacity: .9;
    margin-top: 10px;
}

#welcomePageBackground{
    background-image: radial-gradient( circle 1588px at -27.3% 144%,  rgba(255,22,22,1) 0%, rgba(0,0,0,1) 43.4%, rgba(0,0,0,1) 65.8%, rgba(255,22,22,1) 100.2% );
}

.how{
    font-size: 24px;
    color: white;
    text-align: center;
}


div.containter{
    text-align: center;
}

.qualiList{
    display: inline-block;
    text-align: left;
    font-size: 18px;
    color: white;
}

.newUserWelcome{
    color: white;
    text-align: center;
    
}

.newUserBackground{
    background-color: red;
}


.input{
    display: block;
    margin: auto;
    border-radius: 12px;
    width: 400px;
    height: 50px;
    
}



